<body>
  <div class="bg">
    <img src="/images/diagonal_bn.jpg" alt="">
  </div>
<div class="container">
  <a href="/plans/games/board"><img src="/image/Video-Game.png"> </a>
  <a href="/plans/games/online"><img src="/image/Board-Games.png"></a>
</div>

</body>