{{!--
<div class="bg">
  <img src="/images/diagonal_bn.jpg" alt="">
</div> --}}
<div class="wrapper">
  <div class="container d-flex flex-column justify-content-center align-content-center main   ">
    <div class="flexy">
      <div class="move">
        <a href="/plans/games/board">
          <img src="/images/Board-Games.png">
        </a>
      </div>
      <div>
        <a href="/plans/games/online">
          <img src="/images/Video-Game.png">
        </a>
      </div>
    </div>
  </div>
</div>