
  <div class= "triangle">
  <svg viewBox="0 0 100 100" preserveAspectRatio="none">
    <a href="/plans/games/board"><path d="M 0 0 L 100 100 L 100 0 z"></path></a>
    <a href="/plans/games/online"><path d="M 100 100 L 0 100 L 0 0 z"></path></a>
  </svg>
</div>
  <div class="container">
    <div class="column col-sm-4"></div>
    <div class="column col-sm-4"></div>
    <div class="column col-sm-4"></div>
  </div>