<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
{{!--
<div class="bg">
  <img src="/images/diagonal_bn.jpg" alt="">
</div> --}}
<div class="wrapper">
  <div class="container d-flex flex-column justify-content-center align-content-center main   ">
    <h1 id="otro">GAMES</h1>
    <div class="flexy">
      <div class="move">
        <a href="/plans/games/board">
          <img src="/images/Board-Games.png" height="450px" width="200px" >
        </a>
      </div>
      <div>
        <a href="/plans/games/online">
          <img src="/images/Video-Game.png" height="450px" width="190px">
        </a>
      </div>
    </div>
  </div>
</div>