  <div class ="doors">
    <div><a href="/plans/outdoors/nightlife"class="btn btn-warning">NIGHT LIFE</a></div>
    <div><a href="/plans/outdoors/chill"class="btn btn-warning a">CHILL</a></div>
    <div><a href="/plans/outdoors/otherplans"class="btn btn-warning b">OTHER PLANS</a></div>
  </div>
