<script>
  window.plans = {{{ plans }}}
</script>
<div class="wrapper">
  <div class="container d-flex flex-column main">
    <div class="chart">
      <canvas id="myChart"></canvas>
    </div>
    <div class="container">
      <a href="/plans/games" class="btn btn-primary">Games</a>
      <a href="/plans/outdoors"class="btn btn-warning">Outdoors</a>
      <a href="/plans/movies" class="btn btn-danger">Movies</a>
    </div>
  </div>
</div>