<script>
  window.plans = {{{ plans }}}
</script>
<div class="wrapper">
  <div class="container justify-content-center align-content-center main">
    <div class="chart">
      <canvas id="myChart"></canvas>
    </div>
    <div class="container">
      <a href="/plans/games">Games</a>
      <a href="/plans/outdoors">Outdoors</a>
      <a href="/plans/movies">Movies</a>
    </div>
  </div>
</div>