<script>
  window.plans = {{{plansMap}}};
</script>
<div class="wrapper">
  {{!-- <div class="overlay-shadow">
  </div> --}}
  <div class="container d-flex flex-column justify-content-center align-content-center main ">
<h1>BOARD-GAMES</h1>
    <div id="map"></div>
  </div>
</div> 