<script src="javascripts/home.js"></script>

<div class="wrapper">
  <div class="container d-flex justify-content-center align-content-center main">
    <div class="column col-sm-6">
      <img src="images/logo2.png" alt="">

      <h1>Planify</h1>
      <div id="login" class="login-wrap">
        <h2>Login</h2>

        <form class="login-form-appear" action="/auth/login" method="POST" id="form-container">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="JonSnow">

          <br>
          <br>

          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Your password">
          <br> {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}

          <br>
          <br>

          <button>Login</button>
      </div>
      <a id="login-btn" class="btn btn-danger" href="">Login</a>
      <a href="/auth/signup" class="btn btn-danger">Signup</a>

    </div>
    <div class="links">

    </div>

  </div>
</div>