{{!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/auth/login">Login</a>
<a href="/auth/signup">Signup</a>
<a href="/auth/logout">Logout</a> --}}

<div class="container d-flex justify-content-center align-content-center main">
  <div class="col-sm-3">
    <img src="images/logo.png" alt="">
  </div>
  <div class="col-sm-3">
    <h1>Planify</h1>
  </div>
  
</div>