<div class="movies-partial">
        <h4>{{plan.title}}</h4>
        <p>Creator: {{plan.creator.username}}</p>
        <p>{{plan.description}}</p>
        <p><span class="fas fa-users"></span> {{plan.assistants.length}}</p>
      </div>