<div class="wrapper">
  <div class="overlay-shadow">
  </div>
  <div class="container d-flex flex-column justify-content-center align-content-center main plans-main">
    <h1>MOVIES</h1>
    <div class="movies col-sm-8">
      {{#each movies}}
      <div class="movies-partial">
        <h4>{{this.title}}</h4>
        <p>Creator: {{this.creator.username}}</p>
        <p><span class="fas fa-users"></span> {{this.assistants.length}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>